.DS_Store
UCSanDiegoX/Week-1-Intro-new/database.sqlite
UCSanDiegoX/Week-4-Pandas/movielens/genome-scores.csv
UCSanDiegoX/Week-4-Pandas/movielens/genome-tags.csv
UCSanDiegoX/Week-4-Pandas/movielens/links.csv
UCSanDiegoX/Week-4-Pandas/movielens/movies.csv
UCSanDiegoX/Week-4-Pandas/movielens/ratings.csv
UCSanDiegoX/Week-4-Pandas/movielens/Icon
UCSanDiegoX/Week-4-Pandas/movielens/README.txt
UCSanDiegoX/Week-4-Pandas/movielens/tags.csv
