.DS_Store
UCSanDiegoX/Week-1-Intro-new/database.sqlite
UCSanDiegoX/Week-4-Pandas/movielens/genome-scores.csv
UCSanDiegoX/Week-4-Pandas/movielens/genome-tags.csv
UCSanDiegoX/Week-4-Pandas/movielens/links.csv
UCSanDiegoX/Week-4-Pandas/movielens/movies.csv
UCSanDiegoX/Week-4-Pandas/movielens/ratings.csv
UCSanDiegoX/Week-4-Pandas/movielens/Icon
UCSanDiegoX/Week-4-Pandas/movielens/README.txt
UCSanDiegoX/Week-4-Pandas/movielens/tags.csv
UCSanDiegoX/Week5-Visualization/world-development-indicators/Country.csv
UCSanDiegoX/Week5-Visualization/world-development-indicators/CountryNotes.csv
UCSanDiegoX/Week5-Visualization/world-development-indicators/database.sqlite
UCSanDiegoX/Week5-Visualization/world-development-indicators/Footnotes.csv
UCSanDiegoX/Week5-Visualization/world-development-indicators/hashes.txt
UCSanDiegoX/Week5-Visualization/world-development-indicators/Indicators.csv
UCSanDiegoX/Week5-Visualization/world-development-indicators/Series.csv
UCSanDiegoX/Week5-Visualization/world-development-indicators/SeriesNotes.csv
UCSanDiegoX/Week-1-Intro/database.sqlite
